In [3]:
url = 'https://raw.githubusercontent.com/alura-cursos/python-analise-chatgpt-assistente/main/Dados/vendas_mensal_franquias.json'

In [8]:
import pandas as pd

df_original = pd.read_json(url)

# Exibe as primeiras linhas do DataFrame
df_original.head()

,ID_loja,vendas,loja
0,OUT431,"{'vendas_por_dia': None, 'vendas_loja': 82220....","{'tamanho_loja': 'pequeno', 'cliente_por_dia':..."
1,OUT738,"{'vendas_por_dia': None, 'vendas_loja': 103231...","{'tamanho_loja': 'Médio', 'cliente_por_dia': 3..."
2,OUT426,"{'vendas_por_dia': None, 'vendas_loja': 55487....","{'tamanho_loja': 'pequeno', 'cliente_por_dia':..."
3,OUT948,"{'vendas_por_dia': None, 'vendas_loja': 96417....","{'tamanho_loja': 'Pequeno', 'cliente_por_dia':..."
4,OUT139,"{'vendas_por_dia': None, 'vendas_loja': 56809....","{'tamanho_loja': 'Pequeno', 'cliente_por_dia':..."

In [12]:
# Normalizando as colunas 'vendas' e 'loja'
df_vendas = pd.json_normalize(df_original['vendas'])
df_loja = pd.json_normalize(df_original['loja'])
# Concatenando as colunas normalizadas de volta ao DataFrame original
df = pd.concat([df_original.drop(columns=['vendas', 'loja']), df_vendas, df_loja], axis=1)

df.head()

,ID_loja,vendas_por_dia,vendas_loja,tamanho_loja,cliente_por_dia,itens_disponiveis
0,OUT431,NaN,82220.053714,pequeno,330.0,1968
1,OUT738,NaN,103231.728424,Médio,310.0,2189
2,OUT426,NaN,55487.996318,pequeno,870.0,1736
3,OUT948,NaN,96417.999686,Pequeno,1560.0,1099
4,OUT139,NaN,56809.025487,Pequeno,10.0,1516